<div class="h-100 pl-2" [hidden]="!(loaded && treeReference.getItems().length > 0)">
  <div class="row" id="treeButtons" *ngIf="treeReference">
    <app-button [icon]="'fa fa-expand'" [title]="'Expand All'" (click)="expandAll()"></app-button>
    <app-button [icon]="'fa fa-compress'" [title]="'Collapse All'" (click)="collapseAll()"></app-button>
    <app-button [icon]="'fa fa-times'" [title]="'Close All'" (click)="closeEntireTree()"></app-button>
    <div ngbDropdown title="Download">
      <button class="btn btn-info my-2 mx-1" id="dropdownDownloadTree" ngbDropdownToggle>
        <i class="fa fa-download px-2"></i><span class="caret"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownDownloadTree">
        <button ngbDropdownItem (click)="downloadReports(true, true)">XML & Binary</button>
        <button ngbDropdownItem (click)="downloadReports(false, true)">XML <i class="fa fa-info-circle" title="Only a binary file can be uploaded again"></i></button>
        <button ngbDropdownItem (click)="downloadReports(true, false)">Binary</button>
      </div>
    </div>
    <app-button [text]="showOneAtATime ? 'Show multiple' : 'Show one'" (click)="toggleShowAmount()"></app-button>
  </div>
  <jqxTree id="debug-tree" #treeReference (onSelect)="selectReport($event)" [auto-create]="false"></jqxTree>
</div>



