<div class="row" id="tree-container">
  <div class="compare-header col-12 p-2">
      <label class="p-2">
        Compare method:
      </label>
      <select class="form-control w-fit" (change)="changeNodeLinkStrategy($event)">
        <option value="PATH" [selected]="nodeLinkStrategy === NodeLinkStrategy.PATH">Path</option>
        <option value="CHECKPOINT_NUMBER" [selected]="nodeLinkStrategy === NodeLinkStrategy.CHECKPOINT_NUMBER.toString()">Checkpoint number</option>
        <option value="NONE" [selected]="nodeLinkStrategy === NodeLinkStrategy.NONE.toString()">None</option>
      </select>
  </div>
  <div class="trees-container row col-12 p-2">
    <div class="col-6 h-100">
      <jqxTree #leftTreeReference [auto-create]="false" (onItemClick)="nodeSelected($event, true)"></jqxTree>
    </div>
    <div class="col-6 h-100">
      <jqxTree #rightTreeReference [auto-create]="false" (onItemClick)="nodeSelected($event, false)"></jqxTree>
    </div>
  </div>
</div>
