<div class="row" id="tree-container">
  <div class="compare-header col-12 p-2">
      <label class="p-2">
        Compare method:
      </label>
      <select class="form-control w-fit" (change)="changeNodeLinkStrategy($event)">
        <option [selected]="nodeLinkStrategy === NodeLinkStrategy.PATH" value="PATH">Path</option>
        <option [selected]="nodeLinkStrategy === NodeLinkStrategy.CHECKPOINT_NUMBER.toString()" value="CHECKPOINT_NUMBER">Checkpoint number</option>
        <option [selected]="nodeLinkStrategy === NodeLinkStrategy.NONE.toString()" value="NONE">None</option>
      </select>
  </div>
  <div class="trees-container row col-12 p-2">
    <div class="col-6 h-100">
      <jqxTree #leftTreeReference (onItemClick)="nodeSelected($event, true)" [auto-create]="false"></jqxTree>
    </div>
    <div class="col-6 h-100">
      <jqxTree #rightTreeReference (onItemClick)="nodeSelected($event, false)" [auto-create]="false"></jqxTree>
    </div>
  </div>
</div>
