:host {
  height: fit-content;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.4375rem; /* 65% of original width */
  height: 1.38125rem; /* 65% of original height */
  margin: 0;
  padding: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 1.38125rem; /* 65% of original border-radius */
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.05625rem; /* 65% of original height */
  width: 1.05625rem; /* 65% of original width */
  left: 0.1625rem; /* 65% of original left position */
  bottom: 0.165rem; /* 65% of original bottom position */
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1ab394;
}

input:focus + .slider {
  box-shadow: 0 0 0.0625rem #2196f3; /* 1px / 16 */
}

input:checked + .slider:before {
  transform: translateX(1.05625rem); /* 65% of original translateX */
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.38125rem; /* 65% of original border-radius */
}

.slider.round:before {
  border-radius: 50%;
}
span {
  user-select: none;
}
