<div class="row resizable-vertical">
  <div class="col-6">
    <app-tree
      #leftTree
      [id]="leftReport.id"
      (selectReportEvent)="selectReportLeft($event)"
    ></app-tree>
  </div>
  <div class="col-6">
    <app-tree
      #rightTree
      [id]="rightReport.id"
      (selectReportEvent)="selectReportRight($event)"></app-tree>
  </div>
  <div class="col-6" [hidden]="!leftReport.selected">
    <app-button [icon]="'fa fa-times'" (click)="closeReportLeft()"></app-button>
  </div>

  <div class="col-6" [hidden]="!rightReport.selected">
    <app-button [icon]="'fa fa-times'" (click)="closeReportRight()"></app-button>
  </div>
</div>

<app-monaco-editor [comparing]="true" [hidden]="!leftReport.selected || !rightReport.selected" #editor ></app-monaco-editor>

<div class="row">
  <div class="col-6">
    <app-table
      [hidden]="leftReport.selected"
      [id]="leftReport.id"
      (openReportEvent)="addReportNodeLeft($event)"></app-table>
  </div>
  <div class="col-6">
    <app-table
      [hidden]="rightReport.selected"
      [id]="rightReport.id"
      (openReportEvent)="addReportNodeRight($event)"></app-table>
  </div>

</div>

<app-toast></app-toast>
