#container {
  display: box;
  flex-direction: column;
  background-color: white;
  height: 94vh;
}

.compare-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 50px;
  border-bottom: 1px solid #dee2e6;

  & > label {
    margin: 0;
  }
}

.after-compare-header {
  height: calc(100% - 40px);
}

.text-diff-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dee2e6;
  padding-top: 1.25rem;
}

.diff-editor {
  flex: 50vh;
}
