<div class="flex flex-column" id="container">
  <div class="compare-header p-2 w-100">
    <label class="p-2">
      Compare method:
    </label>
    <select data-cy-compare="compareMethod" class="form-control w-fit" [(ngModel)]="nodeLinkStrategy" (ngModelChange)="changeNodeLinkStrategy()">
      @for (strategy of nodeLinkStrategyConst; track strategy) {
        <option [value]="strategy">{{ strategy|titlecase|strReplace: '_': ' ' }}</option>
      }
    </select>
  </div>

  @if (compareData) {
    <app-compare-tree
      class="trees"
      [compareData]="compareData"
      [nodeLinkStrategy]="nodeLinkStrategy"
      (compareEvent)="showDifference()"
    />
  }
  <div class="text-diff-container pl-3 pb-2">
    @if (compareData) {
      <div class="d-flex flex-row w-100">
        <app-display-table class="w-50" [report]="compareData.originalReport"/>
        <app-display-table class="w-50" [report]="compareData.runResultReport"/>
      </div>
    }
    <ngx-monaco-diff-editor
      class="diff-editor"
      [options]="diffOptions"
      [originalModel]="originalModel"
      [modifiedModel]="modifiedModel"
    />
  </div>

</div>
