@if (rawFile) {
  <div class="position-relative overflow-hidden" [style.height]="height + 'px'">
    <ngx-monaco-editor
      data-cy-element-name="editor"
      class="editor"
      [options]="options"
      [style.height]="calculatedHeight - 27 + 'px'"
      [(ngModel)]="editorContent"
      (onInit)="initEditor($event)"
      (ngModelChange)="onChange($event)">
    </ngx-monaco-editor>
    <div #statusBarElement class="status-bar">
      <div class="left-side">
        @if (!readOnlyMode) {
          <div class="status"
               [title]="unsavedChanges ? 'This file has unsaved changed, press ctrl + s to save' : 'No unsaved changes'">
            <i class="bi bi-floppy"></i>
            <span class="status-text">{{ unsavedChanges ? 'Unsaved' : 'Saved' }}</span>
          </div>
        }
        <div class="status"
             [title]="editorFocused ? 'Editor is in focus, commands can be run: press F1 for options' : 'Editor is not in focus, click on the editor to focus'">
          @if (editorFocused) {
            <i class="bi bi-eye-fill icon-size"></i>
          } @else {
            <i class="bi bi-eye-slash-fill icon-size"></i>
          }
          <span class="status-text">{{ editorFocused ? 'Focused' : 'Unfocused' }}</span>
        </div>
      </div>
      <div class="right-side">
        @if (availableViews) {
          <select
            class="drop-down"
            data-cy-editor="viewDropDown"
            [title]="'Current view: ' + currentView"
            [disabled]="availableViews.length <= 1"
            [(ngModel)]="currentView"
            (ngModelChange)="onViewChange($event)">
            @for (view of availableViews; track view) {
              <option [selected]="view === currentView" [ngValue]="view">{{ view|titlecase }}</option>
            }
          </select>
        }
      </div>
    </div>
  </div>
}



