<div class="row" *ngIf="tableSettings.tableLoaded">
  <div class="row">
    <app-button [icon]="'fa fa-circle'" (click)="testTheCookie()"></app-button>
    <app-button [icon]="'fa fa-undo'" [title]="'Refresh'" (click)="refresh()"></app-button>
    <app-button [icon]="'fa fa-cog'" [title]="'Settings'" (click)="openModal()"></app-button>
    <app-button [icon]="'fa fa-upload'" [title]="'Upload'" (click)="uploadFile.click()">
      <input #uploadFile (change)="uploadReports($event)" type="file" id="uploadFile">
    </app-button>
    <app-button [icon]="'fa fa-filter'" [title]="'Filter'" (click)="toggleFilter()"></app-button>
    <div ngbDropdown title="Download">
      <button class="btn btn-info my-2 mx-1" id="dropdownDownload" ngbDropdownToggle>
        <i class="fa fa-download px-2"></i><span class="caret"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownDownload">
        <button ngbDropdownItem (click)="downloadReports(true, true)">XML & Binary</button>
        <button ngbDropdownItem (click)="downloadReports(false, true)">XML</button>
        <button ngbDropdownItem (click)="downloadReports(true, false)">Binary</button>
      </div>
    </div>
    <app-button [title]="'Open All'" [text]="'Open All'" (click)="openAllReports()"></app-button>
    <div class="col-md-3">
      <form class="form-horizontal pt-2" (keydown.enter)="$event.preventDefault();" (keyup)="changeTableLimit($event)">
        <div class="input-group-append">
            <input type="number" id="displayAmount" class="form-control px-1" placeholder="{{tableSettings.displayAmount}}">
          <div class="input-group-text">/</div>
        </div>
      </form>
    </div>
  </div>

  <div class="table-responsive" id="metadataTable">
    <table class="table table-hover" matSort (matSortChange)="helperService.sortData($event, tableSettings.reportMetadata.values)">
      <thead>
      <tr>
        <th mat-sort-header="5">Storage Id</th>
        <th mat-sort-header="4">End Time</th>
        <th mat-sort-header="0">Duration (ms)</th>
        <th mat-sort-header="2">Name</th>
        <th mat-sort-header="6">Status</th>
        <th mat-sort-header="3">Correlation Id</th>
        <th mat-sort-header="7">Number Of Checkpoints</th>
        <th mat-sort-header="8">Estimated Memory Usage (Bytes)</th>
        <th mat-sort-header="1">Storage Size (Bytes)</th>
      </tr>
      <tr id="filterRow" *ngIf="tableSettings.showFilter">
        <th *ngFor="let header of tableSettings.reportMetadata.fields">
          <div class="input-group">
            <input type="text" id="filter" class="form-control" placeholder="Filter" (keyup.enter)="changeFilter($event)">
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableSettings.reportMetadata.values.slice(0, tableSettings.displayAmount) | filter:tableSettings.filterValue" (click)="openReport(row[STORAGE_ID_INDEX])">
<!--        // StorageId EndTime Duration Name CorrelationId NrChpts EstMemusage StorageSize-->
        <td>{{ row[5] }}</td>
        <td> {{ getDate(row[4]) | date:'dd/MM/yyyy - HH:mm:ss.SSS'}}</td>
        <td>{{ row[0] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[7] }}</td>
        <td>{{ row[8] }}</td>
        <td>{{ row[1] }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-table-settings-modal (openLatestReportsEvent)="openLatestReports($event)"></app-table-settings-modal>
<app-toast></app-toast>
