<div class="row" *ngIf="tableSettings.tableLoaded">
  <div class="row">
    <app-button [icon]="'fa fa-undo'" [title]="'Refresh'" (click)="refresh()"></app-button>
    <app-button [icon]="'fa fa-cog'" [title]="'Settings'" (click)="openModal()"></app-button>
    <app-button [icon]="'fa fa-upload'" [title]="'Upload'" (click)="uploadFile.click()">
      <input #uploadFile (change)="uploadReports($event)" type="file" id="uploadFile">
    </app-button>
    <app-button [icon]="'fa fa-filter'" [title]="'Filter'" (click)="toggleFilter()"></app-button>
    <div ngbDropdown title="Download">
      <button class="btn btn-info my-2 mx-1" id="dropdownDownload" ngbDropdownToggle>
        <i class="fa fa-download px-2"></i><span class="caret"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownDownload">
        <button ngbDropdownItem (click)="downloadReports(true, true)">XML & Binary</button>
        <button ngbDropdownItem (click)="downloadReports(false, true)">XML <i class="fa fa-info-circle" title="Only a binary file can be uploaded again"></i></button>
        <button ngbDropdownItem (click)="downloadReports(true, false)">Binary</button>
      </div>
    </div>
    <app-button [title]="'Open All'" [text]="'Open All'" (click)="openAllReports()"></app-button>
    <div class="col-md-3">
      <form class="form-horizontal pt-2" (keydown.enter)="$event.preventDefault();" (keyup)="changeTableLimit($event)">
        <div class="input-group-append">
            <input type="number" id="displayAmount" class="form-control px-1" placeholder="{{tableSettings.displayAmount}}">
          <div class="input-group-text">/</div>
        </div>
      </form>
    </div>
  </div>

  <div class="table-responsive" id="metadataTable">
    <table class="table table-hover" matSort (matSortChange)="helperService.sortData($event, tableSettings.reportMetadata)">
      <thead>
      <tr>
        <th *ngFor="let header of HEADERS; let i = index" mat-sort-header="{{i}}">{{header}}</th>
      </tr>
      <tr id="filterRow" *ngIf="tableSettings.showFilter">
        <th *ngFor="let header of HEADERS">
          <div class="input-group">
            <input type="text" id="filter" class="form-control" placeholder="Filter" (keydown.enter)="$event.preventDefault();" (keyup)="changeFilter($event, header)">
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableSettings.reportMetadata.slice(0, tableSettings.displayAmount) | filter:tableSettings.filterValue : tableSettings.filterHeader" (click)="openReport(row.storageId)">
        <td> {{ row.storageId }}</td>
        <td> {{ getDate(row.endTime) | date:'dd/MM/yyyy - HH:mm:ss.SSS' }}</td>
        <td> {{ row.duration }}</td>
        <td> {{ row.name }}</td>
        <td> {{ row.status }}</td>
        <td> {{ row.correlationId }}</td>
        <td> {{ row.numberOfCheckpoints }}</td>
        <td> {{ row.estimatedMemoryUsage }}</td>
        <td> {{ row.storageSize }}</td>
<!--        // StorageId EndTime Duration Name CorrelationId NrChpts EstMemusage StorageSize-->
<!--        <td>{{ row[5] }}</td>-->
<!--        <td> {{ getDate(row[4]) | date:'dd/MM/yyyy - HH:mm:ss.SSS'}}</td>-->
<!--        <td>{{ row[0] }}</td>-->
<!--        <td>{{ row[2] }}</td>-->
<!--        <td>{{ row[6] }}</td>-->
<!--        <td>{{ row[3] }}</td>-->
<!--        <td>{{ row[7] }}</td>-->
<!--        <td>{{ row[8] }}</td>-->
<!--        <td>{{ row[1] }}</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-table-settings-modal (openLatestReportsEvent)="openLatestReports($event)"></app-table-settings-modal>
<app-toast></app-toast>
