<!--    Report list panel-->
<div class="row" *ngIf="isLoaded">
  <div class="row">
    <app-button [icon]="'fa fa-undo'" [title]="'Refresh'" (click)="refresh()"></app-button>
    <app-button [icon]="'fa fa-cog'" [title]="'Settings'" (click)="openModal(settings)"></app-button>
    <app-button [icon]="'fa fa-upload'" [title]="'Upload'" (click)="uploadFile.click()">
      <input #uploadFile (change)="uploadReport($event)" type="file" style="display: none">
    </app-button>
    <app-button [icon]="'fa fa-filter'" [title]="'Filter'" (click)="toggleFilter()"></app-button>
    <div ngbDropdown title="Download">
      <button class="btn btn-info my-2 mx-1" id="dropdownDownload" ngbDropdownToggle>
        <i class="fa fa-download px-2"></i><span class="caret"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownDownload">
        <button ngbDropdownItem (click)="downloadReports(true, true)">Reports & Messages</button>
        <button ngbDropdownItem (click)="downloadReports(false, true)">Reports</button>
        <button ngbDropdownItem (click)="downloadReports(true, false)">Messages</button>
      </div>
    </div>
    <app-button [title]="'Open All'" [text]="'Open All'" (click)="openReports(-1)"></app-button>
    <div class="col-md-3">
      <form class="form-horizontal pt-2">
        <div class="input-group-append">
          <input type="number" id="displayAmount" class="form-control px-1" placeholder="{{displayAmount}}"  (keyup)="changeTableLimit($event)">
          <div class="input-group-text">/{{ totalAmount }}</div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-responsive" style="height: 300px; resize: vertical; overflow: auto">
    <table class="table table-hover" matSort (matSortChange)="sortData($event)">
      <thead>
      <tr>
        <th mat-sort-header="5">Storage Id</th>
        <th mat-sort-header="4">End Time</th>
        <th mat-sort-header="0">Duration (ms)</th>
        <th mat-sort-header="2">Name</th>
        <th mat-sort-header="6">Status</th>
        <th mat-sort-header="3">Correlation Id</th>
        <th mat-sort-header="7">Number Of Checkpoints</th>
        <th mat-sort-header="8">Estimated Memory Usage (Bytes)</th>
        <th mat-sort-header="1">Storage Size (Bytes)</th>
<!--        <th *ngFor="let header of metadata.fields; let i = index" mat-sort-header="{{i}}">-->
<!--          {{header}}-->
<!--        </th>-->
      </tr>
      <tr id="filterRow" *ngIf="showFilter">
        <th *ngFor="let header of metadata.fields">
          <div class="input-group">
            <input type="text" id="filter" class="form-control" placeholder="Filter" (keyup.enter)="changeFilter($event)">
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <!--        5 is the index of the storageId-->
      <tr *ngFor="let row of metadata.values.slice(0, displayAmount) | filter:filterValue" (click)="openReport(row[5])">
<!--        // StorageId EndTime Duration Name CorrelationId NrChpts EstMemusage StorageSize-->
        <td>{{ row[5] }}</td>
        <td>{{ getDate(row[4]) }}</td>
        <td>{{ row[0] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[7] }}</td>
        <td>{{ row[8] }}</td>
        <td>{{ row[1] }}</td>
        <!--        <td *ngFor="let value of row"><span *ngIf="">{{value}}</span></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-toast></app-toast>

<ng-template #settings let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="settingsModal">Options</h5>
    <button type="button" class="close" (click)="modal.dismiss()">
      <span>&times;</span>
    </button>
  </div>


    <form [formGroup]="settingsForm" (ngSubmit)="saveSettings()" >
      <div class="modal-body container">
        <div class="form-group">
          <label>Report generator</label>
          <select class="form-control custom-select mr-sm-2"formControlName="generatorEnabled">
            <option>Enabled</option>
            <option>Disabled</option>
          </select>
        </div>
        <div class="form-group">
          <label>Report filter (regex)</label>
          <input type="text" class="form-control" formControlName="regexFilter">
        </div>
        <div class="form-group">
          <label for="openLatestReports">Open latest reports</label>
          <div class="input-group">
            <input #inputnumber type="number" value="10" class="form-control" placeholder="10" id="openLatestReports"/>
            <div class="input-group-append">
              <button class="btn btn-info" type="button" (click)="openReports(+inputnumber.value); modal.dismiss()" >Open</button>
            </div>
          </div>
          <div class="form-check-inline ml-1 mt-2">
            <input class="form-check-input" type="checkbox" id="openReportCheckbox">
            <label class="form-check-label" for="openReportCheckbox">
              Exclude reports with empty report.xml
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="openInProgressNo">Open report in progress number</label>
          <div class="input-group">
            <input type="number" class="form-control" placeholder="1" id="openInProgressNo"/>
            <div class="input-group-append">
              <button class="btn btn-info" type="button">Open</button>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="form-group form-check-inline">
          <input class="form-check-input" type="checkbox" formControlName="transformationEnabled">
          <label class="form-check-label transform-label">
            Report.xml Transformations
          </label>
        </div>
        <div class="form-group">
          <label>Transformation</label>
          <textarea class="form-control" rows="10" formControlName="transformation">Hi there</textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.dismiss()"><i class="fa fa-undo"></i></button>
        <button type="submit" class="btn btn-info" (click)="modal.dismiss()"><i class="fa fa-save"></i></button>
      </div>
    </form>
</ng-template>
