.vertical-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #f0f0f0;
  box-shadow: 0 0 8px 1px gray;
  z-index: 1000;
}

.close-filter-btn {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.metadata-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
}

.metadata-input {
  padding: 5px;
}

.filter-label {
  font-size: 1rem;
}
