table {
  width: auto;
}

.metadata-table {
    width: fit-content;
    border-left: 1px solid #a8a8ab;
    border-top: 1px solid #a8a8ab;
    border-bottom: 1px solid #a8a8ab;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0.25rem;

    .table-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid #a8a8ab;

    }

    > div {
        > span {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.25rem;
        }

        > div {
            text-align: left;
        }
    }
}

.key {
    font-weight: bold;
    border-bottom: 1px solid #a8a8ab;
    padding: 0.25rem;
}

.value {
    text-align: right;
    padding: 0.25rem;
    &:hover {
        background-color: #9a9898;
    }
}
