<div class="d-flex flex-column m-1">
  <div class="my-2 mx-1" *ngIf="anyMessagesPresent">
    <div id="noCloseReceivedLabel" class="btn btn-static px-2" *ngIf="report.noCloseReceivedForStream">
      No close received for stream
    </div>
    <div id="waitingForMessageLabel" class="btn btn-static  px-2"
         *ngIf="report.streaming">
      {{ report.waitingForStream ? 'Waiting for message to be' : 'Message is' }} captured asynchronously from
      a {{ report.streaming.toLowerCase() }} stream
    </div>

    <div id="nullMessageLabel" class="btn btn-static  px-2" *ngIf="null === report.message">
      Message is null
    </div>

    <div id="emptyMessageLabel" class="btn btn-static  px-2" *ngIf="'' === report.message">
      Message is empty string
    </div>

    <div id="stubbedMessageLabel" class="btn btn-static  px-2" *ngIf="report.stubbed">
      Message is stubbed
    </div>

    <div id="encodedMessageLabel" class="btn btn-static px-2" *ngIf="null !== report.encoding">
      Message of type {{ report.messageClassName }} is encoded to string using {{ report.encoding }}
      <span *ngIf="this.report.showConverted">and displayed using Base64 decoded to byte array and byte array decoded to string using UTF-8 (toggle with Base64 button)</span>
    </div>

    <div id="truncatedMessageLabel"
         class="btn btn-static  px-2"
         *ngIf="report.preTruncatedMessageLength > 0">
      Message is truncated ({{ report.preTruncatedMessageLength - report.message.length }} characters removed)
    </div>

    <div id="stubNotFoundLabel" class="btn btn-static px-2" *ngIf="null !==report.stubNotFound">
      Could not find stub message for {{ report.stubNotFound }}
    </div>
  </div>
  <table data-cy-metadata-table="table" class="metadata-table" id="displayedNodeTable">
    <tr class="table-row" *ngIf="report.name">
      <td class="key">Name</td>
      <td class="value" [appCopyTooltip]="report.name">{{ report.name }}</td>
    </tr>
    <tr class="table-row" *ngIf="report.xml">
      <td class="key">Description</td>
      <td class="value" [appCopyTooltip]="report.description">{{ report.description }}</td>
    </tr>
    @if (!report.xml) {
      <tr class="table-row">
        <td class="key">Type</td>
        <td class="value" [appCopyTooltip]="report.type">{{ report.type|checkpointType }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">Thread name</td>
        <td class="value" [appCopyTooltip]="report.threadName">{{ report.threadName }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">Source class name</td>
        <td class="value" [appCopyTooltip]="report.sourceClassName">{{ report.sourceClassName }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">Message class name</td>
        <td class="value" [appCopyTooltip]="report.messageClassName">{{ report.messageClassName }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">Path</td>
        <td class="value" [appCopyTooltip]="report.path">{{ report.path }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">CheckpointUID</td>
        <td class="value" [appCopyTooltip]="report.uid">{{ report.uid }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">Level</td>
        <td class="value" [appCopyTooltip]="report.level">{{ report.level }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">Encoding</td>
        <td class="value" [appCopyTooltip]="report.encoding">{{ report.encoding }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">Number of characters</td>
        @if (report.message && report.message.length > 0) {
          <td class="value" [appCopyTooltip]="report.message.length">{{ report.message.length }}</td>
        } @else {
          <td class="value"></td>
        }
      </tr>
    } @else {
      <tr class="table-row">
        <td class="key">Transformation</td>
        <td class="value" [appCopyTooltip]="report.transformation">{{ report.transformation }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">StorageId</td>
        <td class="value" [appCopyTooltip]="report.storageId">{{ report.storageId }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">Storage</td>
        <td class="value" [appCopyTooltip]="report.storage">{{ report.storage }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">Estimated memory usage</td>
        <td class="value" [appCopyTooltip]="report.estimatedMemoryUsage">{{ report.estimatedMemoryUsage }}</td>
      </tr>
      <tr class="table-row">
        <td class="key">CorrelationId</td>
        <td class="value" [appCopyTooltip]="report.correlationId">{{ report.correlationId }}</td>
      </tr>
    }
  </table>
</div>
