.info-circle-size {
  font-size: 11pt;
}

.rerun-result {
  margin: 0 0 1rem 0.25rem;
  font-size: 10pt;
  width: fit-content;
}

.title {
  width: fit-content;
  position: relative;
}

.report-title {
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: fit-content;
}

.button-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin: 0.25rem 0.25rem 0.75rem 0.25rem;
  gap: 0 0.25rem;
}

select:disabled {
  cursor: not-allowed;
}
