:host {
  display: block;
}

.drop-down {
    width: fit-content;
    font-size: 6pt;
    height: 100%;
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border-radius: 0;

    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
}

.save-icon-badge {
    position: absolute;
    bottom: -0.7em;
    right: -0.7em;
}

.button {
    height: 1rem;
}

.status-bar {
    display: flex;
    background-color: #f3f3f4;
    align-items: center;
    width: 100%;
    height: 1.2rem;
}

.left-side {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.right-side {
    height: 100%;
    justify-content: right;
    display: flex;
}

.editor .minimap {
    z-index: 1000;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 6pt;
    padding: 0.2em 0.4em;
    color: #888;
    cursor: default;
    height: 100%;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
}

.status-text {
    margin-left: 0.4em;
    font-size: 7pt;
}
