<div class="px-1 pt-1 vh-100" id="ladybug-tabs">
  <ul class="nav nav-tabs">
    <li data-cy-nav-tab="debugTab" class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="debugComponentPath">Debug</a>
    </li>
    <li data-cy-nav-tab="testTab" class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="testComponentPath">Test</a>
    </li>

    @for (tab of tabs; track tab) {
      <li class="nav-item" [attr.data-cy-nav-tab]="tab.key">
        <div class="nav-link" routerLinkActive="active">
          <a [routerLink]="tab.path">
            {{ tab.key }}
          </a>
          <i class="bi bi-x close-tab" (click)="closeTab(tab)"></i>
        </div>
      </li>
    }
    <li ngbNavItem class="ml-auto my-auto mr-1" id="version">
      <a ngbNavLink>v{{ appVersion }}</a>
      <ng-template ngbNavContent></ng-template>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>

<app-toast></app-toast>
