<div class="row h-100">
  <div class="col-3 resizable-horizontal p-2 border-right">
    <app-test-folder-tree (changeFolderEvent)="changeFilter($event)"></app-test-folder-tree>
  </div>
  <div class="col">
    <div class="buttons pt-1">
      <div class="buttons button-section">
        <button data-cy-test="refresh" class="btn btn-info" title="Reload test reports"
                (click)="loadData()"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-info" title="Reset" (click)="resetRunner()">Reset</button>
        <button class="btn btn-info" title="Options" (click)="testSettingsModal.open()"><i class="fa fa-cog"></i>
        </button>
        <button data-cy-test="deleteAll" class="btn btn-info" title="Delete all" (click)="openDeleteModal(true)">Delete
          all
        </button>
        <button data-cy-test="upload" type="button" class="btn btn-info" title="Upload"
                (click)="uploadFileTest.click()">
          <i class="fa fa-upload"></i>
          <input #uploadFileTest data-cy-test="uploadFile" type="file" [hidden]="true"
                 (change)="uploadReport($event)">
        </button>
      </div>
      <span class="button-divider">&#124;</span>
      <div class="buttons button-section">
        <button data-cy-test="runAll" class="btn btn-info" title="Run selected reports" (click)="runSelected()"><i
          class="fa fa-play"></i></button>
        <button data-cy-test="deleteSelected" class="btn btn-info" title="Delete selected reports"
                (click)="openDeleteModal(false)"><i class="fa fa-trash"></i></button>
        <button data-cy-test="copySelected" class="btn btn-info" title="Copy selected reports" (click)="copySelected()">
          <i class="fa fa-copy"></i></button>
        <button data-cy-test="downloadBinary" class="btn btn-info" title="Download binary" (click)="downloadSelected()">
          <i class="fa fa-download"></i></button>
      </div>
      <span class="button-divider">&#124;</span>
      <div class="buttons button-section">
        <button class="btn btn-info" title="Clone report" (click)="openCloneModal()">Clone</button>
      </div>
    </div>

    <div class="form-group mt-2">
      <label for="moveToInput">Move/Copy to:</label>
      <form class="input-group" (ngSubmit)="updatePath()">
        <input #moveToInput type="text" class="form-control mr-1 my-2 py-0" id="moveToInput" name="filter"
               [ngModel]="currentFilter"/>
        <button type="submit" class="btn btn-info my-2 mx-1 px-3" (click)="setUpdatePathAction('move')">Move</button>
        <button type="submit" class="btn btn-info my-2 mx-1 px-3" (click)="setUpdatePathAction('copy')"><i
          class="fa fa-copy"></i></button>
      </form>
    </div>

    <p>Generator is {{ generatorEnabled|booleanToString: 'enabled':'disabled' }}</p>

    <app-test-table
      [reports]="filteredReports" [currentFilter]="currentFilter"
      [showStorageIds]="showStorageIds" (runEvent)="run($event)">
    </app-test-table>
  </div>
</div>

<app-test-settings-modal (updateShowStorageIds)="updateShowStorageIds($event)"></app-test-settings-modal>
<app-clone-modal (cloneReportEvent)="testReportsService.getReports()"></app-clone-modal>
<app-delete-modal (confirmDeleteEvent)="deleteReports($event)"></app-delete-modal>
