<div class="row">
  <div class="col">
    <div class="row">
      <app-button [icon]="'fa fa-play'" [title]="'Run All'" (click)="runAll()"></app-button>
      <app-button [icon]="'fa fa-undo'" [title]="'Reset'" (click)="resetRunner()"></app-button>
      <app-button [icon]="'fa fa-cog'" [title]="'Options'" (click)="openSettingsModal()"></app-button>
      <app-button [title]="'Select All'" [text]="'Select All'" (click)="checkAll()"></app-button>
      <app-button [title]="'Deselect All'" [text]="'Deselect All'" (click)="uncheckAll()"></app-button>
      <app-button [icon]="'fa fa-trash'" [title]="'Delete Selected'" (click)="deleteSelected()"></app-button>
      <app-button [icon]="'fa fa-download'" [title]="'Download'" (click)="downloadSelected()"></app-button>
      <app-button [text]="'Clone'" [title]="'Clone report'" (click)="openCloneModal()"></app-button>
      <app-button [icon]="'fa fa-clone'" [title]="'Copy Selected'" (click)="copySelected()"></app-button>
      <app-button [icon]="'fa fa-upload'" [title]="'Upload'" (click)="uploadFile.click()">
        <input #uploadFile (change)="uploadReport($event)" type="file" style="display: none">
      </app-button>
    </div>

    <div class="form-group mt-2">
      <label for="moveToInput">Move/Copy to:</label>
      <div class="input-group">
        <input type="text" class="form-control mr-1 my-2 py-0" placeholder="1" id="moveToInput"/>
        <app-button class="mt-0" [icon]="'fa fa-copy'" [title]="'Copy'"></app-button>
        <app-button class="mt-0" [title]="'Move'" [text]="'Move'"></app-button>
      </div>
    </div>
    <div>
      <p>Generator is {{ generatorStatus }}</p>
    </div>

    <div class="row">
      <table>
        <tbody id="testReports">
        <tr *ngFor="let report of reports" class="form-inline" id="testReport#{{report[STORAGE_ID_INDEX]}}">
          <td>
            <input class="form-check-input" type="checkbox" [checked]="report.checked" (click)="toggleCheck(report)">
          </td>
          <td>[{{report[STORAGE_ID_INDEX]}}]</td>
          <td>
            <app-button [icon]="'fa fa-play'" [title]="'Run report'" (click)="run(report[STORAGE_ID_INDEX])"></app-button>
          </td>
          <td>
            <app-button [icon]="'fa fa-folder-open'" [title]="'Open report'" (click)="selectReport(report[STORAGE_ID_INDEX], report[NAME_INDEX])"></app-button>
          </td>
          <td *ngIf="getReranReport(report[STORAGE_ID_INDEX])">
            <app-button [text]="'Replace'" [title]="'Replace report'" (click)="replaceReport(report[STORAGE_ID_INDEX])"></app-button>
          </td>
          <td *ngIf="getReranReport(report[STORAGE_ID_INDEX])">
            <app-button [title]="'Compare'" [text]="'Compare'" (click)="compareReports(report[STORAGE_ID_INDEX])"></app-button>
          </td>
          <td>
            /{{ report[NAME_INDEX]}}
          </td>
          <td id="runResult#{{report[STORAGE_ID_INDEX]}}">
            <span *ngIf="getReranReport(report[STORAGE_ID_INDEX])" style="color: {{getReranReport(report[STORAGE_ID_INDEX]).color}}">{{ getReranReport(report[STORAGE_ID_INDEX]).resultString }}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-toast></app-toast>
</div>


<!-- Settings modal -->
<app-test-settings-modal></app-test-settings-modal>

<!-- Clone modal -->
<app-clone-modal></app-clone-modal>
