<div class="row">
  <div class="col">
    <div class="row">
      <app-button [icon]="'fa fa-refresh'" [title]="'Refresh'" (click)="loadData()"></app-button>
      <app-button [icon]="'fa fa-play'" [title]="'Run All'" (click)="runAll()"></app-button>
      <app-button [icon]="'fa fa-repeat'" [title]="'Reset'" (click)="resetRunner()"></app-button>
      <app-button [icon]="'fa fa-cog'" [title]="'Options'" (click)="openSettingsModal()"></app-button>
      <app-button [title]="'Select All'" [text]="'Select All'" (click)="checkAll()"></app-button>
      <app-button [title]="'Deselect All'" [text]="'Deselect All'" (click)="uncheckAll()"></app-button>
      <app-button [icon]="'fa fa-trash'" [title]="'Delete Selected'" (click)="deleteSelected()"></app-button>

      <div ngbDropdown title="Download">
        <button class="btn btn-info my-2 mx-1" id="dropdownDownload" ngbDropdownToggle>
          <i class="fa fa-download px-2"></i><span class="caret"></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownDownload">
          <button ngbDropdownItem (click)="downloadSelected(true, true)">Reports & Messages</button>
          <button ngbDropdownItem (click)="downloadSelected(false, true)">Reports</button>
          <button ngbDropdownItem (click)="downloadSelected(true, false)">Messages</button>
        </div>
      </div>
      <app-button [icon]="'fa fa-upload'" [title]="'Upload'" (click)="uploadFile.click()">
        <input #uploadFile (change)="uploadReport($event)" type="file" style="display: none">
      </app-button>
    </div>

    <div class="form-group mt-2">
      <label for="moveToInput">Move/Copy to:</label>
      <div class="input-group">
        <input type="text" class="form-control mr-1 my-2 py-0" placeholder="1" id="moveToInput"/>
        <app-button class="mt-0" [icon]="'fa fa-copy'" [title]="'Copy'"></app-button>
        <app-button class="mt-0" [title]="'Move'" [text]="'Move'"></app-button>
      </div>
    </div>
    <div class="row">
      <table>
        <tbody id="testReports">
        <tr *ngFor="let report of reports" class="form-inline" id="testReport#{{report[STORAGE_ID_INDEX]}}">
          <td>
            <input class="form-check-input" type="checkbox" [checked]="report.checked" (click)="toggleCheck(report)">
          </td>
          <td>
            <app-button [icon]="'fa fa-play'" [title]="'Run report'" (click)="run(report[STORAGE_ID_INDEX])"></app-button>
          </td>
          <td>
            <app-button [icon]="'fa fa-folder-open'" [title]="'Open report'" (click)="selectReport(report[STORAGE_ID_INDEX], report[NAME_INDEX])"></app-button>
          </td>
          <td>
            <app-button [icon]="'fa fa-clone'" [title]="'Clone report'" (click)="openCloneModal()"></app-button>
          </td>
          <td *ngIf="reranReportsIndex.includes(report[STORAGE_ID_INDEX])">
            <app-button [text]="'Replace'" [title]="'Replace report'" (click)="replaceReport(report[STORAGE_ID_INDEX])"></app-button>
          </td>
          <td *ngIf="reranReportsIndex.includes(report[STORAGE_ID_INDEX])">
            <app-button [title]="'Compare'" [text]="'Compare'" (click)="compareReports(report[STORAGE_ID_INDEX])"></app-button>
          </td>
          <td>
            /{{ report[2]}}
          </td>
          <!--TODO: Fix this-->
          <td *ngIf="reranReports[reranReportsIndex.indexOf(report[STORAGE_ID_INDEX])]"
              [ngStyle]="{color:reranReports[reranReportsIndex.indexOf(report[STORAGE_ID_INDEX])].color }"
              [innerHTML]="reranReports[reranReportsIndex.indexOf(report[STORAGE_ID_INDEX])].element">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-toast></app-toast>
</div>


<!-- Settings modal -->
<app-test-settings-modal></app-test-settings-modal>

<!-- Clone modal -->
<app-clone-modal></app-clone-modal>
