<div style="bottom: 0; left: 5px; position: fixed">
  <p *ngFor="let alert of alerts">
    <span *ngIf="alert.type === 'success'">
      <ngb-alert #staticAlert [type]="alert.type" (click)="close(alert)" class="fade animate-show animate-hide">
        <i class="fa fa-check"></i> {{ alert.message }}
      </ngb-alert>
    </span>

    <span *ngIf="alert.type === 'warning'">
      <ngb-alert style="padding-bottom: 18px" #staticAlert [type]="alert.type" (click)="close(alert)" class="fade animate-show animate-hide">
        <i class="fa fa-warning"></i> {{ alert.message }}
      </ngb-alert>
    </span>

    <span *ngIf="alert.type === 'danger'">
      <ngb-alert #staticAlert [type]="alert.type" (click)="close(alert)" class="fade animate-show animate-hide">
        <i class="fa fa-times"></i> {{ alert.message }}
      </ngb-alert>
    </span>
  </p>
</div>
