<div style="bottom: 0; left: 5px; position: fixed; z-index: 999">
  <p *ngFor="let alert of alerts">
    <span *ngIf="alert.type === 'success'">
      <ngb-alert #staticAlert [type]="alert.type" (click)="close(alert)" class="fade animate-show animate-hide">
        <i class="fa fa-check"></i> {{ alert.message }}
      </ngb-alert>
    </span>

    <span *ngIf="alert.type === 'warning'">
      <ngb-alert #staticAlert [type]="alert.type" (click)="close(alert)" class="fade animate-show animate-hide">
        <i class="fa fa-warning"></i> {{ alert.message }}
      </ngb-alert>
    </span>

    <span *ngIf="alert.type === 'danger'">
      <ngb-alert #staticAlert [type]="alert.type" (click)="showDetailedErrorMessages(alert)" class="fade animate-show animate-hide">
        {{ alert.message }}
        <span *ngIf="alert.detailed">
          <br>
          <br>
          <i>Click to see a more detailed description</i>
        </span>
      </ngb-alert>
    </span>
  </p>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="settingsModal">{{ selectedAlert.message }}</h5>
  </div>
  <div class="modal-body text-wrap" id="detailedErrorMessage">
    {{ selectedAlert.detailed }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" id="CopyToClipboard" (click)="copyToClipboard()" title="Copy to Clipboard">Copy to clipboard</button>
    <button type="button" class="btn btn-info" (click)="modal.dismiss();">Dismiss</button>
  </div>
</ng-template>
