<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>
        <input data-cy-test="toggleSelectAll" type="checkbox" [ngModel]="amountOfSelectedReports === reports.length"
               (click)="toggleSelectAll()">
      </th>
      @if (showStorageIds) {
        <th>StorageId</th>
      }
      <th>(Re)run/open</th>
      <th>Name</th>
      <th>Description</th>
      <th>Variables</th>
      <th>Run result</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody data-cy-test="table" id="testReports">
      @for (report of reports; let index = $index; track report.storageId) {
        @if (report.showReport) {
          <tr>
            <td>
              <input data-cy-test="reportChecked" type="checkbox" [checked]="report.checked"
                     (click)="toggleCheckEvent.next(report)">
            </td>
            @if (showStorageIds) {
              <td>
                {{ report.storageId }}
              </td>
            }
            <td>
              <span class="buttons">
                <button data-cy-test="runReport" title="Run report" class="btn btn-info button-width"
                        (click)="runEvent.next(report)"><i class="fa fa-play"></i></button>
                <button data-cy-test="openReport" title="Open report" class="btn btn-info button-width"
                        (click)="openReport(report.storageId)"><i class="fa fa-folder-open"></i>
                </button>
              </span>
            </td>
            <td>
              {{ report.fullPath }}
            </td>
            <td>
              {{ report.description }}
            </td>
            <td>
              @if (report.extractedVariables) {
                <span data-cy-test="variables">{{ report.extractedVariables }}</span>
              }
            </td>
            <td>
              @if (report.reranReport; as reranReport) {
                <span data-cy-test="runResult"
                      [id]="'runResult#' + report.storageId"
                      [style.color]="reranReport.color">
                            {{ reranReport.resultString }}
                </span>
              }
              @if (report.error) {
                <span style="color: red">
                  {{ report.error }}
                </span>
              }
            </td>
            <td>
              @if (report.reranReport) {
                <span class="buttons">
                  <button data-cy-test="replaceReport" class="btn btn-info" title="Replace report"
                          disabled (click)="replaceReport(report.storageId)">Replace</button>
                  <button data-cy-test="compareReport" class="btn btn-info" title="Compare"
                          (click)="compareReports(report)">Compare</button>
                </span>
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
