<as-split class='w-100' #splitter direction='horizontal'>
  <as-split-area [size]='25'>
    <div class='debug-tree'>
      <app-debug-tree
        [adjustWidth]='treeWidth.asObservable()'
        (closeEntireTreeEvent)='closeEntireTree()'
        (selectReportEvent)='selectReport($event)'
        [currentView]='currentView'></app-debug-tree>
    </div>
  </as-split-area>
  <as-split-area [size]='75' style='overflow: hidden'>
    <app-display
      [containerHeight]='containerHeight'
      (closeReportEvent)='closeReport($event)'
      [currentView]='currentView'
      [id]="'debug'"></app-display>
  </as-split-area>
</as-split>
