<div class="row" id="treeButtons" *ngIf="treeSettings.selectedReports.length > 0">
  <app-button [icon]="'fa fa-expand'" [title]="'Expand All'" (click)="expandAll()"></app-button>
  <app-button [icon]="'fa fa-compress'" [title]="'Collapse all'" (click)="collapseAll()"></app-button>
  <app-button [icon]="'fa fa-times'" [title]="'Close All'" (click)="closeAll()"></app-button>
  <div ngbDropdown title="Download">
    <button class="btn btn-info my-2 mx-1" id="dropdownDownload" ngbDropdownToggle>
      <i class="fa fa-download px-2"></i><span class="caret"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownDownload">
      <button ngbDropdownItem (click)="downloadReports(true, true)">XML & Binary</button>
      <button ngbDropdownItem (click)="downloadReports(false, true)">XML <i class="fa fa-info-circle" title="Only a binary file can be uploaded again"></i></button>
      <button ngbDropdownItem (click)="downloadReports(true, false)">Binary</button>
    </div>
  </div>
</div>

<div id="{{_id}}"></div>
