@if (tableSettings.tableLoaded) {
  <div data-cy-debug="root" class="row" id="tableContent">
    <app-filter-side-drawer></app-filter-side-drawer>
    @if (this.showFilterError) {
      <div class="alert alert-danger" role="alert" data-cy-debug="filter-error-message">
        Filter Error: {{ this.handleFilterErrorContext() }}
      </div>
    }
    <div class="row d-flex align-items-center">
      <app-button data-cy-debug="refresh" icon="fa fa-refresh" title="Refresh" (click)="refresh()"></app-button>
      <app-button data-cy-debug="openSettings" icon="fa fa-cog" title="Settings" (click)="openSettingsModal()"></app-button>
      <app-button data-cy-debug="filter" icon="fa fa-filter" title="Filter" (click)="toggleFilter()"></app-button>
      <div ngbDropdown title="Download">
        <button data-cy-debug="download" class="btn btn-info my-2 mx-1" id="dropdownDownloadTable" ngbDropdownToggle>
          <i class="fa fa-download px-2"></i><span class="caret"></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownDownloadTable">
          <button ngbDropdownItem (click)="downloadReports(true, true)">XML & Binary</button>
          <button ngbDropdownItem (click)="downloadReports(false, true)">XML <i class="fa fa-info-circle" title="Only a binary file can be uploaded again"></i></button>
          <button ngbDropdownItem (click)="downloadReports(true, false)">Binary</button>
        </div>
      </div>
      <button data-cy-debug="upload" id="UploadButton" class="btn btn-info my-2 mx-1 px-3"
              title="Upload" (click)="uploadFileTable.click()">
        <i class="fa fa-upload"></i>
        <input #uploadFileTable (change)="uploadReports($event)" type="file" id="uploadFileTable">
      </button>
      <app-button data-cy-debug="openSelected" title="Open Selected Reports" text="Open Selected" (click)="openSelected()"></app-button>
      <app-button data-cy-debug="delete" title="Delete" icon="fa fa-trash" (click)="deleteSelected()"></app-button>

      <div class="input-group input-group-container">
        <input data-cy-debug="displayAmount" type="number" class="form-control input-field"
               [ngModel]="tableSettings.displayAmount" (keydown.enter)="changeTableLimit($event)" (blur)="changeTableLimit($event)">
        <div data-cy-debug="amountShown" class="input-group-append">
          <div class="input-group-text">/{{ metadataCount }}</div>
        </div>
      </div>

      <div class="my-2 mx-1 px-2">
        <select data-cy-change-view-dropdown class="form-control" (change)="changeView($event)">
          @for (view of viewSettings.views | keyvalue; track view) {
            <option [style.width]="viewDropdownBoxWidth" [selected]="view.key === viewSettings.currentView?.name" [value]="view.key">{{ view.key }}</option>
          }
        </select>
      </div>

      <div data-cy-debug-in-progress-counter class="btn btn-static my-2 mx-1 px-2"> Reports in progress: {{ tableSettings.numberOfReportsInProgress }}</div>
      @if (tableSettings.numberOfReportsInProgress > 0) {
        <div class="row">
          <div class="btn btn-static my-2 mx-1 px-2"> Estimated memory usage of reports in progress: {{ tableSettings.estimatedMemoryUsage }} Bytes</div>
          <div class="col input-group my-2 mx-1 px-2">
            <input #openIndex type="number" min="0" [value]="tableSettings.numberOfReportsInProgress" [max]="tableSettings.numberOfReportsInProgress" class="form-control" data-cy-debug="openInProgressNo"/>
            <div class="input-group-append">
              <button data-cy-debug="openInProgress" class="btn btn-info" type="button" id="openReportInProgressButton" (click)="openReportInProgress(+openIndex.value)">Open</button>
            </div>
          </div>
          <div class="col input-group my-2 mx-1 px-2">
            <input #deleteIndex type="number" min="0" [value]="tableSettings.numberOfReportsInProgress" [max]="tableSettings.numberOfReportsInProgress" class="form-control" id="deleteInProgressNo"/>
            <div class="input-group-append">
              <button class="btn btn-info" type="button" id="deleteReportInProgressButton" (click)="deleteReportInProgress(+deleteIndex.value)"><i class="fa fa-trash"></i></button>
            </div>
          </div>
        </div>
      }

      @if (hasTimedOut) {
        <h4 class="progress-report-timout">[One or more reports are in progress for more than {{ this.reportsInProgressThreshold / 1000 / 60 }} minutes]</h4>
      }

      @switch (getAmountOfReportsSelected()) {
        @case (1) {
          <app-button text="Open In New Tab" (click)="openReportInTab()"></app-button>
        }
        @case (2) {
          <app-button text="Compare" title="Compare" (click)="compareTwoReports()"></app-button>
        }
      }
      <app-active-filters class="ml-2" [activeFilters]="currentFilters" (click)="toggleFilter()"></app-active-filters>
    </div>
    @if (!doneRetrieving) {
      <div>
        <mat-spinner mode="indeterminate" [diameter]="30"></mat-spinner>
      </div>
    }
    @else {
      <div data-cy-debug="table" class="table-responsive" id="metadataTable">
        <table class="table mb-0" matSort (matSortChange)="helperService.sortData($event, tableSettings.reportMetadata)" [style.font-size]="getFontSize()">
          <thead id="table-header">
            <tr>
              <th class="table-row-checkbox header-padding">
                <input data-cy-debug="selectAll" type="checkbox" class="vertical-middle" [checked]="allRowsSelected" (click)="selectAllRows()" title="Select all rows" [style.width]="getCheckBoxSize()" [style.height]="getCheckBoxSize()">
              </th>
              @for (header of viewSettings.currentView?.metadataLabels; let index = $index; track header) {
                <th class="table-id-cell header-cell header-padding"
                    [attr.mat-sort-header]="index"
                    [title]="header">
                  {{ getShortenedTableHeaderNames(header) }}
                </th>
              }
            </tr>
          </thead>
          <tbody data-cy-debug="tableBody">
            @for (row of tableSettings.reportMetadata.slice(0, tableSettings.displayAmount); let index = $index; track row.debugVariables.storageId) {
              <tr class="table-row"
                  (click)="openSelectedReport(row.debugVariables.storageId, index);"
                  [ngClass]="{'highlight': selectedRow === index}"
                  [style.background-color]="getStatusColor(row)"
                  [attr.data-cy-record-table-index]="index"
              >
                <td class="table-row-checkbox" [style.padding]="getTableSpacing()">
                  <input type="checkbox" [checked]="row.checked" (click)="toggleCheck(row)" [style.width]="getCheckBoxSize()" [style.height]="getCheckBoxSize()">
                </td>
                @for (metadataName of viewSettings.currentView?.metadataNames; track metadataName) {
                  <td
                    [style.padding]="getTableSpacing()"
                    class="table-cell"
                    [title]="row.debugVariables[metadataName]">
                    {{ row.debugVariables[metadataName]|tableCellShortener }}</td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
}

<app-table-settings-modal (openLatestReportsEvent)="openLatestReports($event)"></app-table-settings-modal>
<app-toast></app-toast>
