#metadataTable {
  resize: vertical;
  overflow: auto;
  height: 31vh;
}

.highlight {
  filter: brightness(85%);
}

#uploadFileTable {
  display: none
}

#table-header {
  position: sticky;
  top: -1px;
  background: white;
  z-index: 2;
}

#tableContent {
  width: 100% !important;
  flex-flow: column;
  height: 100%;
}

th {
  padding: 0 0 0 0;
}

.table-row:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.table-row-checkbox {
  display: table-cell;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.header-padding {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-top: 0;
  border-bottom-width: 1px;
}

.table-cell {
  width: fit-content;
  vertical-align: middle;
}

.header-cell > div {
  margin: 0 auto auto 0;
}

.filter-header {
  vertical-align: middle;
  padding-right: 0.25rem;
}

.vertical-middle {
  vertical-align: middle;
}
.input-field {
  width: 4rem;
}

.input-group {
  width: auto;
  padding-left: 0.3rem;
}

.filter-option {
  height: fit-content;

  > span {
    font-size: 9pt;
  }
}

.progress-report-timout {
  color: red;
  width: 100%;
  margin-left: 1vw;
}

.alert-danger {
  margin-bottom: 0;
}
