#metadataTable {
  resize: vertical;
  overflow: auto;
  height: 100%;
}

.highlight {
  filter: brightness(85%);
}

#uploadFileTable {
  display: none
}

#table-header {
  position: sticky;
  top: -1px;
  background: white;
  z-index: 2;
}

#tableContent {
  width: 100% !important;
  flex-flow: column;
  height: 100%;
}
