<!--Debug panel-->
<div class="row" style="height: 28vh !important;">
  <div class="w-100 h-100">
    <app-table (openReportEvent)="addReportToTree($event)" (changeViewEvent)="changeView($event)" (openSelectedCompareReportsEvent)="openSelectedReports($event)"></app-table>
  </div>
</div>
<div class="border-bottom"></div>
<div class="row" style="height: 70% !important;">
  <div class="col-3 resizable-horizontal border-right h-100">
    <app-debug-tree (closeEntireTreeEvent)="closeEntireTree()" (selectReportEvent)="selectReport($event)" [currentView]="currentView"></app-debug-tree>
  </div>
  <!-- Content panel-->
  <div class="col pr-0">
    <app-display (closeReportEvent)="closeReport($event)" [currentView]="currentView" [id]="'debug'"></app-display>
  </div>
</div>
