<div [hidden]="!displayReport">
  <div class="row" id="displayButtons">
    <app-button [icon]="'fa fa-copy'" [title]="'Copy'" (click)="copyReport()"></app-button>
    <app-button *ngIf="report.encoding === 'Base64'" [text]="'Base64'" [title]="'Convert to Base64'" (click)="changeEncoding($event)"></app-button>

    <div ngbDropdown title="Download">
      <button class="btn btn-info my-2 mx-1" id="dropdownDownloadDisplay" ngbDropdownToggle>
        <i class="fa fa-download px-2"></i><span class="caret"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownDownloadDisplay">
        <button ngbDropdownItem (click)="downloadReport(true, true)">XML & Binary</button>
        <button ngbDropdownItem (click)="downloadReport(false, true)">XML <i class="fa fa-info-circle" title="Only a binary file can be uploaded again"></i></button>
        <button ngbDropdownItem (click)="downloadReport(true, false)">Binary</button>
      </div>
    </div>

    <app-button [icon]="'fa fa-times'" [title]="'Close'" (click)="closeReport(true)"></app-button>
  </div>

  <div *ngIf="!report.xml">
    <div *ngIf="report.noCloseReceivedForStream" id="noCloseReceivedLabel" class="btn btn-static my-2 mx-1 px-2">
      No close received for stream
    </div>
    <div *ngIf="null !== report.streaming && report.streaming" id="waitingForMessageLabel" class="btn btn-static my-2 mx-1 px-2">
      {{ report.waitingForStream ? 'Waiting for message to be' : 'Message is'}} captured asynchronously from a {{report.streaming.toLowerCase()}} stream
    </div>

    <div *ngIf="null === report.message" id="nullMessageLabel" class="btn btn-static my-2 mx-1 px-2">
      Message is null
    </div>

    <div *ngIf="'' === report.message" id="emptyMessageLabel" class="btn btn-static my-2 mx-1 px-2">
      Message is empty string
    </div>

    <div *ngIf="report.stubbed" id="stubbedMessageLabel" class="btn btn-static my-2 mx-1 px-2">
      Message is stubbed
    </div>

    <div *ngIf="null !== report.encoding" id="encodedMessageLabel" class="btn btn-static my-2 mx-1 px-2">
      Message of type {{report.messageClassName}} is encoded to string using {{report.encoding}}
      <span *ngIf="this.report.showConverted">and displayed using Base64 decoded to byte array and byte array decoded to string using UTF-8 (toggle with Base64 button)</span>
    </div>

    <div *ngIf="report.preTruncatedMessageLength > 0" id="truncatedMessageLabel" class="btn btn-static my-2 mx-1 px-2">
      Message is truncated ( {{ report.preTruncatedMessageLength - report.message.length}} characters removed)
    </div>

    <div *ngIf="null !== report.stubNotFound" id="stubNotFoundLabel" class="btn btn-static my-2 mx-1 px-2">
      Could not find stub message for {{report.stubNotFound}}
    </div>
  </div>

  <app-editor id="editor"></app-editor>

  <div class="pt-4">
    <app-display-table [report]="report"></app-display-table>
  </div>
</div>
